.back-button {
    font-family: Space Mono;
    background-color: #5c6b73;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    outline: none;
    color: white;
    display: flex;
    align-items: center;
    position: fixed;
    top: 1rem;
    left: 10px;
    z-index: 1000;
}

.back-button svg {
    margin-right: 8px;
}

.back-button:hover {
    background-color: #9db4c0;
}

.small {
    font-size: 13px;
}

@media (max-width: 768px) {
    .back-button {
        bottom: 10px; 
        left: 10px;   
        top: unset;   
    }
}
