.contact-icons {
    display: flex;
    justify-content: center;
    gap: 20px;

}

.contact-icons a {
    font-size: 32px;
    color: #ffffff;
    transition: color 0.15s ease, scale 0.2s ease;
}

.contact-icons a:hover {
    color: #c2dfe3;
    scale: 110%;
}
