header {
    background: linear-gradient(to bottom, #5c6b73 0%, rgba(46, 97, 113, 0) 100%);
    padding: 2px 0;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

nav ul li {
    margin: 2px 8px;
}

nav ul li a {
    color: #cccccc;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    transition: color 0.2s ease;
}

nav ul li a:hover {
    color: #e0fbfc;
    text-decoration: none;
}

nav ul li a.inactive {
    color: #999999;
}

nav ul li a.inactive:hover {
    color: #e0fbfc;
}

nav ul li a.active {
    color: #ffffff;
}

nav ul li a.active:hover {
    color: #e0fbfc;
}

.separator {
    color: #dddddd;
    height: 4px;
    width: 4px;
    margin-top: 2px;
}

.sub {
    font-size: 12px;
}

@media (max-width: 600px) {
    nav ul {
        justify-content: flex-start;
        padding: 0 10px;
    }

    nav ul li {
        margin: 2px 7px;
    }

}
