.language-toggle {
    position: fixed;
    top: 1.5rem;
    right: 20px;
    z-index: 1000;
}

.toggle-button {
    font-family: Space Mono;
    background-color: #798086;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    outline: none;
    color: white;
}

.toggle-button:hover {
    background-color: #b79fad;
}

.toggle-button.active:hover {
    background-color: #dddddd;
}

.toggle-button.active {
    background-color: #f0f0f0;
    color: black;
}

.toggle-button:focus {
    outline: none;
}

@media (max-width: 768px) {
    .language-toggle {
        top: 4rem
    }
}
