.language-toggle {
    position: fixed; 
    top: 5rem; 
    right: 20px; 
    z-index: 1000; 
}

.toggle-button {
    background-color: #f0f0f0; 
    border: none;
    border-radius: 20px; 
    padding: 10px 20px; 
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease; 
    outline: none; 
}

.toggle-button:hover {
    background-color: #dddd; 
}

.toggle-button.active {
    background-color: #21252b; 
    color: white; 
}

.toggle-button.active:hover {
    background-color: #383d47; 
}

.toggle-button:focus {
    outline: none; 
}

