.projects-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.project-card {
    border: 1px solid #333333;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s ease;
    max-width: 600px;
    margin: 0 auto;
}

.project-card:hover {
    transform: scale(1.03);
}

.project-card img {
    width: 100%;
    height: auto;
}

.project-info {
    padding: 15px;
}

.project-info h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
}

.project-info h3 a {
    color: #9ed7ff;
    font-size: 32px;
    transition: color 0.2s ease;
}

.project-info h3 a:hover {
    color: lightsalmon;
}
